body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(../img/background.png);
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(86, 243, 86);
    border: 10px solid rgb(53, 146, 53);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    padding: 10px 20px;
}

.title{
    font-size: 2em;
    color: blue;
}

.title .A, .title .H, .title .P{
    color: green;
}

.contacto{
    margin: 0 auto;
    margin-top: 60px;
    background-color:rgb(67, 67, 255);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 10px solid blue;
    text-align: center;
    color: white;
    padding: 25px;
}

.general{
    padding-left: 7%;
    padding-right: 7%;
}

@media screen and (max-width: 768px) {
    .general {
        padding-left: 0%;
        padding-right: 0%;
    }
}

.formulario{
    margin-bottom: 70px;
    background-color: rgb(190, 144, 83);
    border: 10px solid rgb(121, 90, 49);
    border-radius: 25px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .formulario {
        margin-left: 20px;
        margin-right: 20px;
    }
}

footer{
    font-size: 1.2em;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(86, 243, 86);
    border: 10px solid rgb(53, 146, 53);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: blue;
}

