body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(../img/background.png);
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(86, 243, 86);
    border: 10px solid rgb(53, 146, 53);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    padding: 10px 20px;
}

.img>img{
    height: 80px;
    margin-left: 10px;
    margin-right: 6px;
}

.title{
    font-size: 2em;
    color: blue;
}

.title .A, .title .H, .title .P{
    color: green;
}

.menu{
    margin-left: 30px;
    font-size: 1.7em;
}

.menu>a{
    text-decoration: none;
    margin-left: 20px;
}

.cartel{
    position: fixed;
    top: 111px;
    margin-left: 40px;
}

.saldo {
    margin-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .saldo {
        margin-top: 125px;
    }
}

@media screen and (max-width: 467px) {
    .cartel{
        top: 150px;
    }

    .saldo {
        margin-top: 150px;
    }
}

.saldo > img {
    width: 40px;
}

.icons{
    margin: 70px;
    background-color: rgb(190, 144, 83);
    border: 10px solid rgb(121, 90, 49);
    border-radius: 25px;
}

.caja{
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.caja:first-of-type{
    border-bottom: 10px solid rgb(121, 90, 49);
}

.prod{
    text-align: center;
}

.prod>img{
    width: 120px;
}

.prod-pie{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: blue;
    font-size: 2em;
}

.prod-pie>button>img{
    width: 35px;
}

.prod-pie>button{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    font-size: 1.2em;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    justify-content: space-between;
    background-color: rgb(86, 243, 86);
    border: 10px solid rgb(53, 146, 53);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: blue;
}

